PORT=8000
CORS_ORIGIN=*
MONGODB_URL=
ACCESS_TOKEN_SECRET= # Make Your Ownn Secret Key for Access Toke and Make it Secert
ACCESS_TOKEN_EXPIRY= 1d
REFRESH_TOKEN_SECRET= # Make Your Ownn Secret Key for Refresh Toke and Make it Secert
REFRESH_TOKEN_EXPIRY= 30d

# Make Your own Cloudnary Account and Get Your Api Key and Api Secret and name for your Bucket. and assign it to this variable. you Can Get it From "https://cloudinary.com/"
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY =  
CLOUDINARY_API_SECRET = 
